
<!DOCTYPE html>


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Team | Bits Please</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">




</head>

  <body>




<!-- include navbar from separate navabr html page -->
 {% include "navbar.html" %}


 <div class="container-fluid" style="margin-top:50px;">
 </div>
 <div style="margin-left:100px;margin-top:60px;color:#0c333d;">
 <a href="/"><i class="fa fa-chevron-left fa-5x" aria-hidden="true"></i></a>
</div>
<!-- team info goes here -->

 <div class="panel">


            <div class="content fixed">
                <div class="container">

                  <div class="row" style="margin-top:-50px;">
                        <div class="center-on-mob " class="col-md-12">
                            <h2 style="text-align:center;;font-family:;color:#333;font-size:52px;">Team 'Bits Please!' </h2>
                        </div>
                    </div>



                    <div class="row" style="padding-top:70px;margin-bottom:60px;">

                        <div class=" col-md-3 col-sm-6 col-lg-3 col-xs-12 " style="text-align:center;">
                            <img id="devc1" src="/static/img/megh3.jpg" class="img-responsive center-block" style="border-radius:50%;" height="200px" width="200px">
                            <br>
                            <h4 style="color:#333;">Meghraj Bendre</h4>
                            <!-- <h5 style="color:#333;"><i class="fa fa-phone" style="color:#2eb398;font-size:1.5em;"></i>&nbsp;+91&nbsp;9860473993</h5> -->
                            <h5 style="color:#333;"><i class="fa fa-envelope" style="color:#164855;font-size:1.5em;"></i>&nbsp;Meghraj.Bendre@Veritas.com</h5>
                        </div>


                        <div class=" col-md-3 col-sm-6 col-lg-3 col-xs-12 " style="text-align:center;">
                            <img id="devc1" src="/static/img/gau2.jpg" class="img-responsive center-block" style="border-radius:50%;"  height="200px" width="200px">
                            <br>
                            <h4 style="color:#333;">Gaurav Nathani</h4>
                            <!-- <h5 style="color:#333;"><i class="fa fa-phone" style="color:#2eb398;font-size:1.5em;"></i>&nbsp;+91&nbsp;7507012864</h5> -->
                            <h5 style="color:#333;"><i class="fa fa-envelope" style="color:#164855;font-size:1.5em;"></i>&nbsp;Gaurav.Nathani@Veritas.com</h5>
                        </div>


                        <div class=" col-md-3 col-sm-6 col-lg-3 col-xs-12 " style="text-align:center;">
                            <img id="devc1" src="/static/img/ak3.jpg" class="img-responsive center-block" style="border-radius:50%;"  height="200px" width="200px">
                            <br>
                            <h4 style="color:#333;">Akshay Asawa</h4>
                            <!-- <h5 style="color:#333;"><i class="fa fa-phone" style="color:#2eb398;font-size:1.5em;"></i>&nbsp;+91&nbsp;8698031637</h5> -->
                            <h5 style="color:#333;"><i class="fa fa-envelope" style="color:#164855;font-size:1.5em;"></i>&nbsp;Akshay.Asawa@Veritas.com</h5>
                        </div>


                        <div class=" col-md-3 col-sm-6 col-lg-3 col-xs-12 " style="text-align:center;">
                            <img id="devc1" src="/static/img/sp2.png" class="img-responsive center-block" style="border-radius:50%;"  height="200px" width="200px">
                            <br>
                            <h4 style="color:#333;">Suraj Patil</h4>
                            <!-- <h5 style="color:#333;"><i class="fa fa-phone" style="color:#2eb398;font-size:1.5em;"></i>&nbsp;+91&nbsp;8805025818</h5> -->
                            <h5 style="color:#333;"><i class="fa fa-envelope" style="color:#164855;font-size:1.5em;"></i>&nbsp;Suraj.Patil@Veritas.com</h5>
                        </div>



                        </div>
                    </div>

                </div>
</div>




 <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/holder.min.js"></script>


  </body>
</html>
